<div id="conteudo">
<h5>Pedido</h4>
<div id="mcofertas">

<p>Sua compra foi finalizada. Acompanhe o status de seu pedido na <a href="/acompanhamento">página de acompanhamento de pedidos.</a></p>




<div id="rolagem">&nbsp;</div>

</div>

</div>