<p>Recebemos o pedido <%=@pedido.cod%>
<BR>
<BR>Para visualizar os detalhes e confirmar o envio acesse <a href="http://fcsmir.herokuapp.com/pedido/<%=@pedido.id%>">este link</a>.
<BR>
<BR>Esta mensagem foi gerada automaticamente.</p>
