<div id="conteudo">
<h5>Cadastrar item para marmitas</h4>
<div id="abas">
	<div id='nselaba'>
	<a href="/cadprodframe" >Produto</a>
	</div>
	<div id='selaba'>
	<a href="/caditemframe" >Item</a>
	</div>
</div>
<div id="mcofertas">

<form name="form" method="POST" action="/envcaditem">
<table width="470"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">
<table width="470" border="0" cellspacing="0" cellpadding="0">


<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Nome:</span><!-- Nome -->
<input type="text" name="cad_nome0" size="55" maxlength="55" class="input" value="" style="width:130px;">
<span class="texto_azul">Tipo:</span><!-- Sexo -->
<select name="tipo0" class="input">
<option value="0">Principal</option>
<option value="1">Acompanhamento</option>
</select></td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Nome:</span><!-- Nome -->
<input type="text" name="cad_nome1" size="55" maxlength="55" class="input" value="" style="width:130px;">
<span class="texto_azul">Tipo:</span><!-- Sexo -->
<select name="tipo1" class="input">
<option value="0">Principal</option>
<option value="1">Acompanhamento</option>
</select></td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Nome:</span><!-- Nome -->
<input type="text" name="cad_nome2" size="55" maxlength="55" class="input" value="" style="width:130px;">
<span class="texto_azul2">Tipo:</span><!-- Sexo -->
<select name="tipo" class="input">
<option value="0">Principal</option>
<option value="1">Acompanhamento</option>
</select></td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul">Nome:</span><!-- Nome -->
<input type="text" name="cad_nome3" size="55" maxlength="55" class="input" value="" style="width:130px;">
<span class="texto_azul">Tipo:</span><!-- Sexo -->
<select name="tipo3" class="input">
<option value="0">Principal</option>
<option value="1">Acompanhamento</option>
</select></td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<input type="image" src="/img/btn_continuar.gif" width="65" height="22" border="0">
</td>
</tr>


<tr>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>

<!--</div>-->
<!--<div>-->

</div>
</div>