<div id="conteudo">

<div id="mcofertas">





<!-- CONTEUDO -->

<!-- <div id="conteudo"> -->
<!-- <div id="mcofertas"> -->

<form action="/1" method="post" enctype="multipart/form-data">
<table width="470"  border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">
<table width="470" border="0" cellspacing="0" cellpadding="0">

<tr>
<td>
<span class="texto_azul"><b>Fazer upload de imagem</b>
</td>
</tr>

<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td><span class="texto_azul"><input name="file" type="file"> </span><!-- Nome -->

</td>
</tr>
<input name="marmid" type="hidden" value="<%=session[:marmid]%>">
<tr>
<td>&nbsp;</td>
</tr>

<tr>
<td>
<input type="image" src="/img/btn_continuar.gif" width="65" height="22" border="0">
</td>
</tr>


<tr>
<td>&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>

<!--</div>-->
<!--<div>-->

</div>

</div>