
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">

<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">

<META HTTP-EQUIV="EXPIRES" CONTENT="-1">

<title>EntregaWeb</title>

<style>

/* CSS Document */

*{

margin:0px;

padding:0px;

border:0px;

text-decoration:none;

list-style:none;

}

body{

background:#282828 repeat;

}

#geral{

background:#ed2124 repeat;

display:table;

}

a:hover{

text-decoration:underline;

}

</style>





<style>

/* CSS Document */

#rodape{

float:left;

margin:0 0 0 12px;

_margin:0 0 0 6px;

width:847px;

height:65px;

background:#ed2124 repeat;

}

#rodape .logo{

float:left;

padding:4px 0 0 12px;

}

#rodape ul li{

display:inline;

padding:0 0 0 20px;

}

#logoMc{

float:left;

padding:10px;

}

#logos{

float:right;

margin:10px 10px 0 0;

}

#rodape address{

float:left;

font:10px verdana;

color:white;

padding:10px 0 0 65px;

}

</style>



<style>

/* CSS Document */

*{

margin:0px;

padding:0px;

border:0px;

text-decoration:none;

list-style:none;

}

#geral{

padding:0 0 0 12px;

}

body{

background:#ed2124 repeat;

}

#bannerCentral{

float:left;

border-bottom:1px solid white;

}

#bannerCentral h3{

background:url(img/mcentrega.gif) no-repeat;

width:846px;

height:48px;

overflow:hidden;

text-indent:-99999px;

}

#imgCentral{

float:left;

height:219px;

}

#menuCentral{

float:left;

background:url(img/bg_barradescricao.gif) repeat-x;

width:824px;

height:21px;

padding:5px 10px 0 12px;

}

#navCentral{

float:right;

}

#navCentral ul li{

display:inline;

background:url(img/bg_botao.gif) no-repeat;

width:18px;

height:23px;

padding:0 7px;

}

#navCentral ul li a{

font:bold 12px verdana;

color:white;

}

#navCentral ul li a:hover{

font:bold 12px verdana;

color:#4e87d4;

}

#legenda{

float:left;

font:bold 12px verdana;

color:white;

}

#menuLanches{

float:left;

border-right:1px solid white;

width:535px;



padding:0px 5px;

background:url(img/bg_texto.jpg) repeat-x #d68e0d;

}

#menuLanches ul li{

float:left;

display:inline;

height:59px;

}

#num10{

width:524px;

_width:513px;

float:left;

height:164px;

padding:10px;

display:block;

}

#num01, #num02, #num03, #num04, #num05, #num06, #num07, #num08, #num09, #num10, #num11{

width:524px;

_width:513px;

float:left;

height:164px;

padding:10px;

display:none;

}

.titLanches{

font:bold 20px arial;

color:#7d0002;

width:237px;

}

.titLanches1{

font:bold 16px arial;

color:#7d0002;

width:237px;

}

.txtLanches{

font:11px arial;

color:black;

width:237px;

}

.imgLanches{

width:241px;

float:right;

}

.input{

width:202px;

border-right:1px solid #003f95;

border-bottom:1px solid #003f95;

}

.input2{

width:168px;

margin-right:2px;

border-right:1px solid #003f95;

border-bottom:1px solid #003f95;

}

#facapedido{

background:url(img/bg_facaseupedido.gif) no-repeat;

width:301px;

height:297px;

float:left;

position:absolute;

top:294px;

left:558px;

}

#facapedido h3{

float:right;

padding:14px 17px 0 0;

}

#txtFaca{

font:10px verdana;

color:#02275a;

padding:54px 0 0 29px;

}

#txtFaca p{

margin:8px 0;

}

#formFaca{

margin:0 10px;

}

</style>



<script language="javascript" type="text/javascript">

<!--

// Set slideShowSpeed (milliseconds)

var slideShowSpeed = 10000

// Duration of crossfade (seconds)

var crossFadeDuration = 1

// Specify the image files

var Pic = new Array() // don't touch this

var Leg = new Array() // don't touch this

// to add more images, just continue

// the pattern, adding to the array below




Pic[1] =  'img/banner1.JPG'

Pic[2] =  'img/banner2.JPG'

Pic[3] =  'img/banner3.JPG'

Pic[4] =  'img/banner4.JPG'

Pic[5] =  'img/banner5.JPG'

Pic[6] =  'img/banner6.JPG'


//Legenda

//Leg[1] =  'Copo de Coca'



Leg[1] =  'Restaurante JeitoWeb'

Leg[2] =  'Saudável'

Leg[3] =  'Gostoso'

Leg[4] =  'Rápido'

Leg[5] =  'Atendimento'

Leg[6] =  'Qualidade'

var t

var j = 1

var p = Pic.length

var pos = j

var preLoad = new Array()

function preLoadPic(index)

{

if (Pic[index] != ''){

window.status='Loading : '+Pic[index]

preLoad[index] = new Image()

preLoad[index].src = Pic[index]

Pic[index] = ''

window.status=''

}

}



function runSlideShow(){

if (document.all){

document.images.SlideShow.style.filter="blendTrans(duration=2)"

document.images.SlideShow.style.filter= "blendTrans(duration=crossFadeDuration)"

document.images.SlideShow.filters.blendTrans.Apply()

}



document.images.SlideShow.src = preLoad[j].src

document.getElementById('legenda').innerHTML = Leg[j]

if (document.all){

document.images.SlideShow.filters.blendTrans.Play()

}



pos = j



j = j + 1

if (j > (p-1)) j=1

t = setTimeout('runSlideShow()', slideShowSpeed)

preLoadPic(j)

}



preLoadPic(j)



// Função controla a sequencia de slides.

function MostraSlide(id){

document.SlideShow.src = preLoad[id].src;

document.getElementById('legenda').innerHTML = Leg[id];

//if(id == 1){

//   document.getElementById('linkBanner').href = 'MC4_HORARIO_ESPECIAL';

//}else{

//   document.getElementById('linkBanner').href = '#';

//}

}

//funciont ChamaPagina(link){

//window.href.location = "+link+";

//}

//-->



//Função para bloquear caracteres especiais

//Alteração realizada por Alexandre Marcelino em 12/05/2009



var r={

'caracters':/[/\$|,|#|~|`|\%|\*|\^|&|\(|\)|\+|\=|\[|\]|\[|\}|\{|\;|\:|\'|\"|\<|\>|\?|\||\\|\!|\$]/g

}

function valid(o,w){

o.value = o.value.replace(r[w],'');

}

//-->

</SCRIPT>

</script>

<script language="javascript" type="text/javascript">

// JavaScript Document

<!--

function num01(){

document.getElementById('num01').style.display = 'block';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num02(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'block';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num03(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'block';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num04(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'block';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num05(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'block';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num06(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'block';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num07(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'block';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num08(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'block';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'none';


}

function num09(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'block';

document.getElementById('num10').style.display = 'none';


}

function num10(){

document.getElementById('num01').style.display = 'none';

document.getElementById('num02').style.display = 'none';

document.getElementById('num03').style.display = 'none';

document.getElementById('num04').style.display = 'none';

document.getElementById('num05').style.display = 'none';

document.getElementById('num06').style.display = 'none';

document.getElementById('num07').style.display = 'none';

document.getElementById('num08').style.display = 'none';

document.getElementById('num09').style.display = 'none';

document.getElementById('num10').style.display = 'block';


}



function Get_Cookie( name ) {



var start = document.cookie.indexOf( name + "=" );

var len = start + name.length + 1;

if ( ( !start ) &&

( name != document.cookie.substring( 0, name.length ) ) )

{

return null;

}

if ( start == -1 ) return null;

var end = document.cookie.indexOf( ";", len );

if ( end == -1 ) end = document.cookie.length;

return unescape( document.cookie.substring( len, end ) );

}

//-->

</script>

</head>

<body onload="runSlideShow();">

<div id="geral">

<!-- BANNER CENTRAL -->

<div id="bannerCentral">

<h3>EntregaWeb</h3>

<div id="imgCentral"><!--<a href="MC4_HORARIO_ESPECIAL" id="linkBanner">--> <!--</a>-->

<img src="/img/banner1.JPG" width="846" height="219" name="SlideShow" border="0">

</div>

<div id="menuCentral">

<div id="navCentral">

<ul>

<li><a href="javascript:MostraSlide(1);" onfocus="blur();">1</a></li>

<li><a href="javascript:MostraSlide(2);" onfocus="blur();">2</a></li>

<li><a href="javascript:MostraSlide(3);" onfocus="blur();">3</a></li>

<li><a href="javascript:MostraSlide(4);" onfocus="blur();">4</a></li>

<li><a href="javascript:MostraSlide(5);" onfocus="blur();">5</a></li>

<li><a href="javascript:MostraSlide(5);" onfocus="blur();">6</a></li>


</ul>

</div>

<div id="legenda"> </div>

</div>

</div>

<!-- MENU LANCHES -->

<div id="menuLanches">

<ul>

<li>

<a href="javascript:num01();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a>

</li>

<li><a href="javascript:num02();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num03();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num04();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num05();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num06();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num07();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num08();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num09();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

<li><a href="javascript:num10();" onfocus="blur();">

<img src="/img/btn_01.jpg" width="88" height="59" alt="#"/>

</a></li>

</ul>

<div id="num01">

  <div class="imgLanches">

    <img src="/img/img_num01.jpg" width="241" height="174" alt="#" />

  </div>

  <div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 1</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num02">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 2</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num03">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 3</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num04">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 4</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num05">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 5</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num06">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 6</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>


<div id="num07">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 7</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num08">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 8</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num09">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 9</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>

<div id="num10" style="display:block">

<div class="imgLanches"><img src="/img/img_num01.jpg" width="241" height="174" alt="#" /></div>

<div class="titLanches"><span class="titLanches1">OfertaWeb</span>&nbsp;&nbsp;Especial 10</div>

<div class="txtLanches">Marmitex grande com dois acompanhamentos e refrigerante!.</div>

</div>


</div>

<!-- FORMULARIO -->

<div id="facapedido">

<h3><img src="/img/tit_facaseupedido.gif" width="109" height="25" alt="Faca Seu

Pedido" /></h3>

<div id="txtFaca">

<p><strong>Ja sou cadastrado e quero fazer meu pedido.</strong></p>

<div id="formFaca">

<form name="frmlogin" action="/login" method="POST"

target="_top">

<table cellpadding="0" cellspacing="0" border="0">

<tr>

<td colspan="2"><strong>e-mail</strong></td>

</tr>

<tr>

<td colspan="2"><input class="input" name="email_login"

type="text"   onkeyup="valid(this,'caracters')" onblur="valid(this,'caracters')" /></td>

</tr>

<tr>

<td colspan="2" height="10">&nbsp;</td>

</tr>

<tr>

<td colspan="2"><strong>Senha:</strong></td>

</tr>

<tr>

<td><input name="senha" class="input2" type="password" />

<input type="hidden" name="p_chamadora"

value="mc4_home_prg">

<input type="hidden" name="p_idioma" value="ptg">

<input type="hidden" name="p_ipseq" value="0">

</td>



<td width="26">

<input type="image" src="/img/btn_ok.gif"

alt="OK" width="26" height="16" onClick="document.frmlogin.submit();"/>

</td>

</tr>

</form>

<tr>

<td colspan="3" height="10" align="right">

<a href="/recuperasenha"">

Esqueceu sua senha?

</a>

</td>

</tr>

<tr>

<td colspan="2" height="10">&nbsp;</td>

</tr>

</table>

</div>

<p>Ainda não é cadastrado?</p>

<p style="padding:0 0 0 10px;">

<a href="/cadastrar" target="_top">

<img src="/img/btn_queromecadastrar.gif" width="140" height="21"  alt="Quero me cadastrar">

</a>



</p>

</div>

</div>

</div>

<script>

document.frmlogin.p_idioma.value='ptg';

document.frmlogin.p_ipseq.value= '53286578';

</script>

<!-- RODAPE -->

<div id="rodape">

<div id="logos">

<ul>

<li><img src="logo.png" width="84" height="47" alt="VeriSign Secored"

border="0" /></li>

<li><img src="logo.png" width="76" height="37" alt="Site Seguro"

border="0" /></li>

</ul>

<address>© Restaurante JeitoWeb</address>

</div>



<div id="logoMc"><img src="logo.png" width="152" height="60" alt="#" border="0" /></div>

<address>Os produtos que fazem parte da promoção <BR>Grandes Prazeres,

Pequenos Preços não são válidos <BR>para pedidos feitos pela EntregaWeb.

<BR>Mais informações: www.fcsmir.herokuapp.com</address>

</div>



</body>

</html>