<div id="conteudo">
<h5>Pedido</h4>
<div id="mcofertas">
<form name="din" action="/confdin" method="post">
<p>Você deverá fazer o pagamento diretamente ao entregador. Caso tenha algum comentário ou recado pertinente (precisa de troco? Qual o valor? Não tem campainha?) favor preencher o campo abaixo.</p>
<textarea name="coment" class="input" style="width:95%; position:relative; left:10px; height:50px;"></textarea>
<input type="submit" name="confirm" class="input" value="Confirmar" style="position:relative; left:10px;">
<span style="position:relative; left:10px;"><a href="/oferta" class="input">Cancelar</a></span>
</form>




<div id="rolagem">&nbsp;</div>

</div>

</div>