<div id="conteudo">
<h4>Baixar Cardápio</h4>
<div id="mcofertas">

<p>Confira abaixo, em PDF, os produtos do cardapio do Restaurante JeitoWeb.</p>

<p><strong><a href="/cardapio.pdf" target="_blank">Clique aqui</a></strong><br />Cardápio (PDF)</p>

<p><strong>Para fazer o seu pedido e necessario se logar na pagina inicial.</strong></p>

<div id="rolagem">&nbsp;</div>

</div>

</div>