<div id="conteudo">

<h5>Fale Conosco</h5>

<div id="mcofertas">
<div id="cform" style="float:left; padding-left:10px;">
		<form action="/smail" method="post">
		<table>
		<tr><th>Nome</th></tr>
		<tr><td><input class="input" type="text" size=58 name="nome" /></td></tr>
		<tr><th>Telefone</th></tr>
		<tr><td><input class="input" type="text" size=58 name="tel" /></td></tr>
		<tr><th>E-mail</th></tr>
		<tr><td><input class="input" type="text" size=58 name="mail" /></td></tr>
		<tr><th>Mensagem</th></tr>
		<tr><td><textarea class="input" id='txtPlain' COLS=58 ROWS=15 NAME="msg" ></textarea></td></tr>
		<tr><td><input class="input" style="float:right; height: 30px; width: 80px" type="submit" value="Enviar" /></td></tr>
		</table>
		</form>
<br class="clearfix">

</div>
</div>

</div>