<div id="conteudo">

<h3 class="funciona">Como funciona</h3>

<div id="mcofertas">



<h5>1- EntregaWeb na Internet</h4>

<p>A EntregaWeb na Internet é o jeito mais prático de você receber as delícias do Restaurante JeitoWeb em sua casa ou no escritório. </p>

<h5>2 - Horário de atendimento  </h5>

<p>Horário de atendimento da EntregaWeb é das 11 às 23 horas, podendo sofrer alterações sem aviso prévio.</p>

<h5>3 - Cadastre-se para fazer o seu pedido</h5>

<p>Para fazer seu cadastro via Internet, você só precisa informar o local da entrega e seus dados pessoais. O sistema indicará se o endereço já é atendido pela EntregaWeb e então, você poderá fazer o seu pedido, lembramos que a área de entrega pode sofrer alterações sem aviso prévio. Todas as informações fornecidas serão tratadas confidencialmente e não serão compartilhadas ou divulgadas para terceiros.</p>

<h5>4 - Faça seu pedido</h5>

<p>A partir do seu e-mail e sua senha, você  tem a sua disposição todas as delícias do Restaurante JeitoWeb. É só escolher os produtos, informar a forma de pagamento e pronto:  seu pedido já estará a caminho.</p>

<h5>5 - Formas de pagamento</h5>

<p>As formas de pagamento disponíveis na EntregaWeb são: <i>Dinheiro, Cartão de crédito (Visa, Mastercard e Diners Club) e Ticket em papel</i>, a disponibilidade das formas de pagamento podem variar conforme a região que lhe atende.<br><br>

*A forma de pagamento "Cartão de crédito" estará disponivel após sua primeira compra efetuada com sucesso.<br>

*Os clientes que não tiverem pedidos efetuados em um prazo de 90 dias, também farão parte da limitação acima.<br>

*Nos pedidos com Cartão de Crédito o títular do cartão deve estar no local para receber o pedido, apresentando documento com foto e o cartão, para assinatura do comprovante de pagamento. Os pedidos pagos com cartão de crédito estarão sujeitos a confirmação telefônica.<br>

*Não são aceitas as versões eletrônicas de ticket como forma de pagamento nas compras realizadas pela EntregaWeb.<br></p>

<p>Você pode ter em seu cadastro, até 3 endereços diferentes para

entrega, clique "Endereço de Entrega" para cadastrar agora!</p>

<h5>6 - Acompanhe seu pedido</h5>

<p>Para saber o andamento do seu pedido, e só clicar nesse item no menu. Do computador para o restaurante, do restaurante para o entregador, do entregador até você - acompanhe  todas  as etapas.</p>



</div>

</div>