<p>Olá, <%= @nome %>!<BR><BR>
Conforme sua solicitação, estamos lhe enviando a sua senha, para que você possa pedir as refeições do EntregaWeb pela internet (http://fcsmir.herokuapp.com).<BR><BR>
Aqui está a sua senha para o endereço do e-mail que você forneceu:<BR><BR>
<%= @senha %><BR><BR>
Atenciosamente<BR>
Restaurante JeitoWeb</p>
