<div id="conteudo">
<h3 class="tabnutri">Tabela Nutricional</h3>
<h4>Valor Nutricional dos produtos</h4>
<div id="mcofertas">

<p>Confira abaixo, em PDF, a tabela nutricional dos produtos do cardapio do Restaurante JeitoWeb.</p>

<p><strong><a href="/nutri.pdf" target="_blank">Clique aqui</a></strong><br />Tabela Adulto (PDF)</p>

<p><strong>Para fazer o seu pedido e necessario se logar na pagina inicial.</strong></p>

<div id="rolagem">&nbsp;</div>

</div>

</div>