<div id="conteudo">

<h5>Política de Privacidade</h5>

<div id="mcofertas">

<p>Somos comprometidos com a proteção à privacidade de todos os visitantes do site www.jeitoweb.com.br (“JeitoWeb”) (o “Website”). Por favor, leia a política de privacidade abaixo, a qual explica como utilizamos e protegemos as informações fornecidas a nós por você. Ao visitar este Website, você concorda e, quando necessário, você permite a coleta, uso e transferência de suas informações, conforme estabelecido nesta política.<p>
<h5>1. INFORMAÇÕES QUE COLETAMOS DE VOCÊ</h5>
<p>Ao visitar o Website, podemos solicitar o fornecimento de informações
a seu respeito, incluindo seu nome, detalhes de contato e informações
de cartão de crédito ou débito. Podemos, ainda, coletar informações a
respeito de seu uso do Website e informações sobre você, a partir de
mensagens que você inseriu no Website e dos e-mails ou cartas enviadas
a nós.</p>

<h5>2. USO DE SUAS INFORMAÇÕES</h5>

<p>2.1 Suas informações nos possibilitarão fornecer a você acesso a
partes relevantes do Website e a fornecer os serviços solicitados.
Possibilitará, ainda, cobrar e contatar você quando necessário com
relação a nossos serviços. Utilizaremos e analisaremos também
informações que coletamos de modo que possamos administrar, suportar,
melhorar e desenvolver nossos negócios e para quaisquer outros fins
estatísticos ou analíticos.</p>


</div>

</div>