<p>Sua senha temporária é : <%=@senhatemp%>
<BR>
<BR>Para maior segurança altere sua senha no proximo login. <a href="http://fcsmir.herokuapp.com/cadastrar">Neste link</a>.
<BR>
<BR>Esta mensagem foi gerada automaticamente.</p>
