<div id="conteudo">
<%=styled_flash%>
<div id="mensagem">

 <div class="btnMensagem"><a href="javascript:mensagem();" onfocus="blur();"></a></div>
 <div class="erroInput" id="txtMensagem"></div>
 </div>
  <div id="forma_pagamento">

    <h4>Recuperar Senha</h4>
    <p>Por favor, digite o email utilizado no seu cadastro</p>
    <p>
   <form method="post" name="cadastro" action="/recsenha" onsubmit="return valida_identificacao(this)">



<table width="230">

<tr>

<td width="10">&nbsp;</td>

<td width="55">e-mail:</td>

<td><input name="email_login" size="30" type="text" class="input" onblur="valid(this,'caracters')"  onkeyup="valid(this,'caracters')"/></td>

</tr>

<tr>

<td width="10">&nbsp;</td>

<td width="55">&nbsp;</td>

<td class="erroInput"></td>

</tr>


<td width="10">&nbsp;</td>

<td width="55">&nbsp;</td>

<td class="erroInput"></td>

</tr>

<tr>

<td colspan="3" height="20">&nbsp;</td>

</tr>


<tr>

<td colspan="3" height="20">&nbsp;</td>

</tr>

<tr>

<td colspan="3" height="10" align="right">

<a href="javascript: void document.cadastro.submit();">

<img src="/img/btn_ok.gif" width="60" height="21" alt="OK">

</a>

</td>

</tr>



<tr>

<td colspan="3" height="20">&nbsp;</td>

</tr>

</table>

</p>

</div>

<div id="cartao">

<h5>Ainda não se cadastrou?</h5>

<p>Nunca pediu EntregaWeb? Para continuar, faca o seu cadastro.<br>E rapido e facil!</p>



<a href="/cadform">

<img src="/img/btn_queromecadastrar.gif" width="140" height="21"  alt="Quero me cadastrar">

</a>

</div>

</form>
</div>
