<div id="conteudo">
<h5>Pedido</h4>
<div id="mcofertas">

<p>Essa opção está em funcionamento simulado provisório.</p>

<form name="pay" method="post" action="/repaction" target="_top" >

<p><input name="choice" type="submit" value="Tentar novamente"/><p>

<br><input name="choice" type="submit" value="Cancelar Pedido"/>

</form>



<div id="rolagem">&nbsp;</div>

</div>

</div>