<div id="conteudo">
	<h3 class="tabfones">Telefones</h3>
	<div id="mcofertas">
		<h4>Veja os telefones da EntregaWeb*:</h4>
		<p>
			</p><table width="565" cellpadding="1" cellspacing="1" border="0">
				  <tbody><tr>
					<td width="5">&nbsp;</td>
					<td width="145" style="background:#e6ae02; color:white; padding:5px;">Estado</td>
					<td width="300" style="background:#e6ae02; color:white; padding:5px;">Cidade</td>
					<td width="135" style="background:#e6ae02; color:white; padding:5px;">Telefone</td>
   			  	  </tr>
                  <tr class="textoDestaque">
					<td width="5">&nbsp;</td>
                    <td style="background:#fde64d; padding:5px;"><span class="texto_azul_bold">Rio de Janeiro</span></td>
                    <td style="background:#fde64d; padding:5px;"><span class="texto_azul_bold">Rio de Janeiro e Macaé</span></td>
                    <td align="left" style="background:#fde64d; padding:5px;"><span class="texto_azul">4444-4444</span></td>
                  </tr>
                  
                </tbody></table>
           	<p></p>
            <p>* O serviço de Restaurante JeitoWeb ainda não está disponível para todos os restaurantes da rede. Para saber se seu endereço é atendido pelo serviço, telefone para o número previsto para sua cidade, de acordo com a tabela acima.<br><br>Não serão aceitos pedidos e /ou ligações provenientes de telefones celulares.*</p>
           <!-- <p>Se preferir, <a href="http://www.entregaweb.com.br/#/NPC%253AContact" target="_blank">clique aqui </a>
para enviar suas dúvidas, críticas ou sugestões por e-mail.</p> -->
      <!--  <p><strong>Para fazer o seu pedido é necessário se logar na página inicial.</strong></p> -->
			<p>&nbsp;</p>
	</div>
</div>